<h2>Welcome!</h2>
<h3>Please Sign In:</h3>
<form (submit)="onFormSubmit()" [formGroup]="loginForm">
    Username: <input type="text" name="username" formControlName="username">
    <br />
    Password: <input type="password" name="password" formControlName="password">
    <br />
    <div>Are you a:</div>
    <input type="radio" id="customer" name="role" value="customer" formControlName="role">
    <label for="customer">Customer</label><br>
    <input type="radio" id="vendor" name="role" value="vendor" formControlName="role">
    <label for="vendor">Vendor</label><br>
    <br /><br />
    <input type="submit" value="Login" [disabled]="!loginForm.valid">
</form>